/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
saves
*.log
build
dist
projects
media/
pom.xml.asc
node_modules
package-lock.json
package.json
.shadow-cljs
.cpcache