{:paths ["src" "target/classes" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}

        net.java.dev.jna/jna {:mvn/version "5.10.0"}
        net.n01se/clojure-jna {:mvn/version "1.0.0"}
        org.clojure/core.async {:mvn/version "1.4.627"}
        cnuernber/dtype-next {:mvn/version "8.041"}
        com.rpl/specter {:mvn/version "1.1.3"}
        org.apache.commons/commons-text {:mvn/version "1.9"}
        }
 :mvn/repos
 {"space-maven" {:url "https://packages.jetbrains.team/maven/p/skija/maven"}
  "sonatype-oss-public" {:url "https://oss.sonatype.org/content/groups/public/"}}
 :aliases
 {
  :codox
  {:extra-deps {codox/codox {:mvn/version "0.10.5"}}
   :extra-paths ["script"]
   :exec-fn gen-doc/-main}

  :skialib
  {:extra-deps {com.phronemophobic.membrane/skialib-macosx-x86-64 {:mvn/version "RELEASE"
                                                                   ;;:local/root "csource/macos-aarch64"
                                                                   }
                com.phronemophobic.membrane/skialib-macosx-aarch64 {:mvn/version "RELEASE"
                                                                    ;; :local/root "csource/macos-aarch64"
                                                                    }}}

  :ios-uberjar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
   :ns-default hf.depstar
   :aliases [:graal-compile]
   :exec-fn hf.depstar/uberjar
   :exec-args {:group-id "com.phronmophobic.ios"
               :artifact-id "uberjar"
               :version "1.00-beta-1"
               :sync-pom true
               :aot true
               :compile-ns [
                            membrane.ios
                            ]
               :main-class membrane.ios
               :jar "library/ios-uber.jar"
               ;;Disable tensor code generation and ensure direct linking.
               :jvm-opts ["-Dtech.v3.datatype.graal-native=true"
                          "-Dclojure.compiler.direct-linking=true"
                          "-Dclojure.spec.skip-macros=true"]}}

  :jar {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "membrane.jar"}}
  :install {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
            :main-opts ["-m" "deps-deploy.deps-deploy" "install" "membrane.jar"]}
  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
           :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "membrane.jar"]}

  :skija {:extra-deps {org.jetbrains.skija/skija-macos-arm64 {:mvn/version "0.93.4"}
                       org.jetbrains.skija/skija-macos-x64 {:mvn/version "0.93.4"}
                       org.jetbrains.skija/skija-linux {:mvn/version "0.93.1"}
                       org.lwjgl/lwjgl {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl$natives-macos {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl$natives-macos-arm64 {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl$natives-linux {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl-glfw {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl-glfw$natives-macos {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl-glfw$natives-macos-arm64 {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl-glfw$natives-linux {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl-opengl {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl-opengl$natives-macos {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl-opengl$natives-macos-arm64 {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl-opengl$natives-linux {:mvn/version "3.3.0"}}}
  :fulcro {:extra-deps {com.fulcrologic/fulcro {:mvn/version "3.5.8"}}}
  :cljfx {:extra-deps {cljfx/cljfx {:mvn/version "1.7.16"}}}
  :lanterna {:extra-deps {com.googlecode.lanterna/lanterna {:mvn/version "3.1.1"}}}
  ,}}
