{:deps
 {clj-time/clj-time {:mvn/version "0.14.2"}
  org.clojure/clojure {:mvn/version "1.10.0"}
  org.clojure/clojurescript {:mvn/version "1.10.764"}


  net.n01se/clojure-jna {:mvn/version "1.0.0"
                         :exclusions [net.java.dev.jna/jna]}

  net.java.dev.jna/jna {:mvn/version "5.2.0"}
  org.clojure/core.async {:mvn/version "0.4.490"}


  figwheel-sidecar {:mvn/version "0.5.18"
                    :exclusions [org.clojure/tools.nrepl]}

  com.rpl/specter {:mvn/version "1.1.1"}
  org.apache.commons/commons-text {:mvn/version "1.8"}

  com.googlecode.lanterna/lanterna {:mvn/version "3.0.2"}

  com.phronemophobic/vdom {:mvn/version "0.2.2"}
  com.cognitect/transit-cljs {:mvn/version "0.8.264"}}}

