{:source-paths ["src"]
 :dependencies [[com.rpl/specter "1.1.3"]
                [com.phronemophobic/cljs-cache "0.1.6"]]
 :builds {:webgltest { ;;:figwheel {:on-jsload "membrane.webgltest/on-js-reload"}
                      :modules {:main {:init-fn membrane.webgltest/-main}}
                      :asset-path "js/compiled/out.webgltest"
                      ;; :output-to "resources/public/js/compiled/webgltest.js"
                      :output-dir "resources/public/js/compiled/out.webgltest"
                      :target :browser
                      ;; :compiler-options
                      ;; {
                      ;;  :source-map-timestamp true
                      ;;  ;;:optimizations :whitespace
                      ;;  }
                      }}}

