{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.phronemophobic/membrane {:mvn/version "0.9.31.1-beta"}

        org.clojure/test.check {:mvn/version "0.9.0"}

        com.phronemophobic.membrane/skialib-macosx-aarch64
        {:mvn/version "0.9.31.0-beta"}

        com.phronemophobic.membrane/skialib-macosx-x86-64
        {:mvn/version "0.9.31.0-beta"}

        com.phronemophobic.membrane/skialib-linux-x86-64
        {:mvn/version "0.9.31.0-beta"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}
                      }



         }
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.128"}}
            :main-opts ["-m" "hf.depstar.uberjar" "membrane-skija-example.jar"
                        "-C" "-m" "com.phronemophobic.membrane-skija-example"]}}} 
